<!DOCTYPE HTML>
<html>
    <head></head>
    <body>
        <header></header>
        <main>
            <div class="container">
                <div class="register-container">
                    <form>
                        <h1>Register</h1>
                        <div class="group-form">
                            <label for="first_name">First Name</label>
                            <input type="text" name="first_name">
                        </div>
                        <div class="group-form">
                            <label for="last_name">Last Name:</label>
                            <input type="text" name="last_name">
                        </div>
                        <div class="group-form">
                            <label class="email">Email:</label>
                            <input type="email" name="email">
                        </div>
                        <div class="group-form">
                            <label for="passwd">Password:</label>
                            <input type="password" name="passwd">
                        </div>
                        <div class="group-form">
                            <label for="confirm-passwd">Confirm-password:</label>
                            <input type="password">
                        </div>
                        <button class="register-btn">Register</button>
                    </form>
                </div>
                <div class="login-container">
                    <form>
                        <div class="group-form">
                            <label for="email">Email:</label>
                            <input type="email" name="email">
                        </div>
                        <div class="group-form">
                            <label for="passwd">Password:</label>
                            <input type="password" name="passwd">
                        </div>
                        <button class="login-btn">Log In</button>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>